<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.IBrandDao" >
  <resultMap id="BaseResultMap" type="com.entity.Brand" >
    <id column="BRANDID" property="brandid" jdbcType="DECIMAL" />
    <result column="IMG" property="img" jdbcType="VARCHAR" />
    <result column="INFOMATION" property="infomation" jdbcType="VARCHAR" />
    <result column="LOGORDER" property="logorder" jdbcType="DECIMAL" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="URL" property="url" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANDID, IMG, INFOMATION, LOGORDER, NAME, URL
  </sql>
  <select id="selectAll" resultMap="BaseResultMap">
    SELECT * FROM PRODUCT_BRAND
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from QSHOP.PRODUCT_BRAND
    where BRANDID = #{brandid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from QSHOP.PRODUCT_BRAND
    where BRANDID = #{brandid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.entity.Brand" >
    insert into QSHOP.PRODUCT_BRAND (BRANDID, IMG, INFOMATION, 
      LOGORDER, NAME, URL
      )
    values (#{brandid,jdbcType=DECIMAL}, #{img,jdbcType=VARCHAR}, #{infomation,jdbcType=VARCHAR}, 
      #{logorder,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Brand" >
    insert into QSHOP.PRODUCT_BRAND
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="brandid != null" >
        BRANDID,
      </if>
      <if test="img != null" >
        IMG,
      </if>
      <if test="infomation != null" >
        INFOMATION,
      </if>
      <if test="logorder != null" >
        LOGORDER,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="url != null" >
        URL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="brandid != null" >
        #{brandid,jdbcType=DECIMAL},
      </if>
      <if test="img != null" >
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="infomation != null" >
        #{infomation,jdbcType=VARCHAR},
      </if>
      <if test="logorder != null" >
        #{logorder,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Brand" >
    update QSHOP.PRODUCT_BRAND
    <set >
      <if test="img != null" >
        IMG = #{img,jdbcType=VARCHAR},
      </if>
      <if test="infomation != null" >
        INFOMATION = #{infomation,jdbcType=VARCHAR},
      </if>
      <if test="logorder != null" >
        LOGORDER = #{logorder,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        URL = #{url,jdbcType=VARCHAR},
      </if>
    </set>
    where BRANDID = #{brandid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Brand" >
    update QSHOP.PRODUCT_BRAND
    set IMG = #{img,jdbcType=VARCHAR},
      INFOMATION = #{infomation,jdbcType=VARCHAR},
      LOGORDER = #{logorder,jdbcType=DECIMAL},
      NAME = #{name,jdbcType=VARCHAR},
      URL = #{url,jdbcType=VARCHAR}
    where BRANDID = #{brandid,jdbcType=DECIMAL}
  </update>
</mapper>