<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.IVipDao" >
  <resultMap id="BaseResultMap" type="com.entity.Vip" >
    <id column="VID" property="vid" jdbcType="DECIMAL" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="BORNDATE" property="borndate" jdbcType="DATE" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="GENDER" property="gender" jdbcType="DECIMAL" />
    <result column="LOGDATE" property="logdate" jdbcType="DATE" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="POINT" property="point" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="USERNAME" property="username" jdbcType="VARCHAR" />
    <result column="GRADEID" property="gradeid" jdbcType="DECIMAL" />
    <result column="QUESTION" property="question" jdbcType="VARCHAR" />
    <result column="ANSWER" property="answer" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    VID, ADDRESS, BORNDATE, EMAIL, GENDER, LOGDATE, NAME, PASSWORD, PHONE, POINT, STATUS, 
    USERNAME, GRADEID, QUESTION, ANSWER
  </sql>
  <select id="findPassword" resultType="com.entity.Vip" parameterType="java.util.Map">
    select * from VIP where username = #{username} and phone = #{phone} and email = #{email}
  </select>
  <select id="selectSigOne" resultType="com.entity.Vip" parameterType="java.lang.String">
    select * from vip where username = #{username}
  </select>
  <select id="Login" resultMap="BaseResultMap" parameterType="com.entity.Vip">
    SELECT
    VID, ADDRESS, BORNDATE, EMAIL, GENDER, LOGDATE, NAME,
    PASSWORD, PHONE, POINT, STATUS,
    USERNAME, GRADEID, QUESTION, ANSWER
    FROM
    VIP
    WHERE USERNAME=#{username} and PASSWORD=#{password}
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from QSHOP.VIP
    where VID = #{vid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from QSHOP.VIP
    where VID = #{vid,jdbcType=DECIMAL}
  </delete>

  <!--修改个人信息-->
  <update id="updateVipInformation" parameterType="com.entity.Vip" >
    update QSHOP.VIP
    set ADDRESS = #{address,jdbcType=VARCHAR},
    EMAIL = #{email,jdbcType=VARCHAR},
    NAME = #{name,jdbcType=VARCHAR},
    PHONE = #{phone,jdbcType=VARCHAR}

    where VID = #{vid,jdbcType=DECIMAL}
  </update>
  <insert id="insert" parameterType="com.entity.Vip" >
    insert into QSHOP.VIP (VID, ADDRESS, BORNDATE,
      EMAIL, GENDER, LOGDATE,
      NAME, PASSWORD, PHONE,
      POINT, STATUS, USERNAME,
      GRADEID, QUESTION, ANSWER
      )
    values (QSHOP_VIP_SEQ.nextval, #{address,jdbcType=VARCHAR}, SYSDATE,
      #{email,jdbcType=VARCHAR}, 0, SYSDATE,
      #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
      0, 0, #{username,jdbcType=VARCHAR},
      1, null, null
      )
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Vip" >
    insert into QSHOP.VIP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="vid != null" >
        VID,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="borndate != null" >
        BORNDATE,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="gender != null" >
        GENDER,
      </if>
      <if test="logdate != null" >
        LOGDATE,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="point != null" >
        POINT,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="username != null" >
        USERNAME,
      </if>
      <if test="gradeid != null" >
        GRADEID,
      </if>
      <if test="question != null" >
        QUESTION,
      </if>
      <if test="answer != null" >
        ANSWER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="vid != null" >
        #{vid,jdbcType=DECIMAL},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="borndate != null" >
        #{borndate,jdbcType=DATE},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=DECIMAL},
      </if>
      <if test="logdate != null" >
        #{logdate,jdbcType=DATE},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="point != null" >
        #{point,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="gradeid != null" >
        #{gradeid,jdbcType=DECIMAL},
      </if>
      <if test="question != null" >
        #{question,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        #{answer,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Vip" >
    update QSHOP.VIP
    <set >
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="borndate != null" >
        BORNDATE = #{borndate,jdbcType=DATE},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        GENDER = #{gender,jdbcType=DECIMAL},
      </if>
      <if test="logdate != null" >
        LOGDATE = #{logdate,jdbcType=DATE},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="point != null" >
        POINT = #{point,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="username != null" >
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="gradeid != null" >
        GRADEID = #{gradeid,jdbcType=DECIMAL},
      </if>
      <if test="question != null" >
        QUESTION = #{question,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        ANSWER = #{answer,jdbcType=VARCHAR},
      </if>
    </set>
    where VID = #{vid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Vip" >
    update QSHOP.VIP
    set ADDRESS = #{address,jdbcType=VARCHAR},
      BORNDATE = #{borndate,jdbcType=DATE},
      EMAIL = #{email,jdbcType=VARCHAR},
      GENDER = #{gender,jdbcType=DECIMAL},
      LOGDATE = #{logdate,jdbcType=DATE},
      NAME = #{name,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      POINT = #{point,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=DECIMAL},
      USERNAME = #{username,jdbcType=VARCHAR},
      GRADEID = #{gradeid,jdbcType=DECIMAL},
      QUESTION = #{question,jdbcType=VARCHAR},
      ANSWER = #{answer,jdbcType=VARCHAR}
    where VID = #{vid,jdbcType=DECIMAL}
  </update>
</mapper>