	   #main{
	   	padding: 0px;
	    margin: 0px auto;
	   	width: 1150px; 	
	   }
	   .n{
				border: 1px solid white;
				width: 1100px;
				height: 100px;
			}
			.n li{
				float: left;
				list-style: none;
			}
			.n li:nth-of-type(1){
				width: 400px;
				margin-top: 25px;
			}
				.n li:nth-of-type(2){
				width: 400px;
				margin-top: 40px;
				margin-right: 10px;
			}
				.n li:nth-of-type(3){
				width: 200px;
				text-align: right;
				margin-top: 25px;
			}
			.n1{
				width: 1100px;
				height: 40px;
				background-color: #D10000;
			}
			.n1 li{
				float: left;
				list-style: none;
				margin-right: 50px;	
			}
			.n1 li a{	
				color:white;
				font: bold 15px/40px "宋体";		
			}
			.la{
				width: 200px;
				margin-left: 25px;
			}							
			.ll li{
				border: none;
				height: 40px;
				color: #000000;
		    }
		    .ll li a{
		    	font: normal 15px/20px "宋体"; 
		    }
		
			.ll li:nth-of-type(1){
				height: 80px;
				font: normal 12px/20px "宋体";
				border-bottom:4px solid #EFEFEF; 
			}


.y{
		   margin-top: 10px; 
        	height: 15px;
        	text-align: center;
        	margin-right: 20px;
	}
	 .l3{
	        	margin-top: 20px;
	        	color: #9C9C9C;
	        	margin-right: 20px;
	        }
	        .l3 li a{
	        	color: #9C9C9C;
	        	text-decoration: underline;
	        }
